<% include partials/header %> 
<div>
    <ul>
        <li><form method="GET" action="/charity/requirements">
            <input type="submit" value="Requirements">
        </form></li>
        <li>
            <a href="#update">something else</a>
        </li>
        <li>
            <a href="#delete">something else</a>
        </li>
        <li style= 'float: "right"'>
            <a class="active" href="#about">
                About
            </a>
        </li>
    </ul>
    <br></br>
    <div class="DonationRequests">
        <% var max = data.length %>
        <% for( var i=0; i< max; i=i+4){%>
        <div Class="row">
            <% for( var j=i; j< i+4; j++){%>
            <div class="col-sm-3">
                <div class="card" style=" width: '20rem' " >
                    <img
                        src="https://source.unsplash.com/400x400/?poor"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body">
                        <h5 class="card-title"><%=data[j].DonatedBy%></h5>
                        <div class="card-text">
                            <h6><%=data[j].material%></h6>
                            <h6><%=data[j].quantity%></h6>
                            <p><%=data[j].description%></p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <%}%>
        </div>
        <%}%>
    </div>
    <div class="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; company name Website 2020
                </p>
            </div>
        </footer>
    </div>
</div>




<% include partials/footer %>
