
<link rel="stylesheet" href="/homepageStyles.css">
<div id="container">
    
        
    

    <div class="leftSide">
        <h1 id="heading">Bet on Better</h1>
        <br></br>
        <img
            src= "../logoB.png"
            id="logo"
            alt="logo"
            height="400px"
            width="400px"
        ></img>
        <br></br>
    </div>
    <div class="rightSide">
       
        <a href="/register"><button id="getStarted">GET STARTED</button></a>
        <p id="content">
            The knowledge that you’re helping others is hugely
            empowering and, in turn, can make you feel happier and
            more fulfilled. We asked 700 of our generous donors to
            tell us what motivates them to give regularly to
            charity; 42% agreed the enjoyment they receive from
            giving as a key influence. Now its your turn help
            others.
        </p>
        <div>
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            ></link>

            <a href="#home" class="fa fa-facebook"></a>
            <a href="#home" class="fa fa-twitter"></a>
            <a href="#home" class="fa fa-linkedin"></a>
            <a href="#home" class="fa fa-instagram "></a>
        </div>
        <br>
        <a href="/donor/login">already a user </a>
        <br>
        <a href="/charity/login">already a enrolled charity</a>
        <br></br>
    </div>
</div>
</body>
</html>